@import "macchiato.css";
* {
    font-family: "Iosevka Nerd Font Propo";
    font-weight: 500;
    font-size: 15px;
 
    border-radius: 0px;
    text-shadow: none;
 
    transition-property: background;
    transition-duration: 0.2s;
}
 
window#waybar {
    background-color: alpha(@base, 0.95);
    /* padding-left: 0px; */
    /* padding-right: 6px; */

    font-family: inherit;
}

.modules-left {
    background-color: transparent;
    /* padding-top: 4px; */
}
 
 
.modules-right {
    background-color: transparent;
    /* padding-bottom: 4px; */
}

window#waybar.hidden  {
    opacity: 0.2;
}

tooltip {
    color: @blue;
    font-size: 10px;
    border-radius: 12px;
}

#custom-lock,
#custom-poweroff,
#custom-reboot,
#custom-search,
#custom-hibernate,
#custom-caffeine,
#workspaces button,
#tray,
#backlight,
#battery,
#cpu,
#memory,
#network,
#wireplumber,
#clock,
#power-profiles-daemon
{
    color: @blue;
    border-radius: 12px;
    padding: 3px;
    margin: 2px 5px;
}

#battery { color: @sky; }

#clock { 
    font-size: 16px;
}

#cpu { color: @green; }

#backlight { color: @teal;}

#memory { color: @red; }

#wireplumber { color: @mauve; }

#power-profiles-daemon { color: @pink; }


#network { color: @flamingo; }

#custom-lock { color: @rosewater; }

#custom-poweroff { color: @base08; }

#custom-reboot { color: @base0C; }

#custom-hibernate { color: @base0B; }

#custom-caffeine { color: @base09; }

#workspaces button.focused { 
    background-color: alpha(@base07, 0.2);
    color: @base0D; 
}