@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
    font-family: "Maple Mono NF CN", monospace;
    font-weight: 500;
    font-size: 16px;
    text-shadow: none;
    transition: background 0.2s ease, color 0.2s ease;
}

window#waybar {
    background-color: alpha(@base,0);
    border-bottom: none;
    font-family: inherit;
}

.modules-left,
.modules-center,
.modules-right {
    background: transparent;
    padding: 0;
    margin: 0;
}



window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
    color: @text;
    font-size: 10px;
    border-radius: 8px;
    padding: 6px 8px;
    background-color: alpha(@base,0.9);
}

#custom-lock,
#custom-caffeine,
#tray,
#backlight,
#battery,
#cpu,
#memory,
#network,
#wireplumber,
#wlr-taskbar,
#bluetooth,
#power-profiles-daemon,
#clock {
    /* border-radius: 4px; */
    /* background-color: @base; */
    padding: 0px 5px;
    /* margin: 3px 2px; */
}
#workspaces button{
    border-radius: 4px;
     padding: 0px 0.56em; /* 10px */
    color: @text;
}
      #workspaces button {
          background: transparent;
          transition: background 0.2s ease, color 0.2s ease;
      }

      #workspaces button:hover {
          background-color: alpha(@base, 0.2);
      }

      #workspaces button.focused {
          background-color: alpha(@base, 0.4);
          color: @blue;
      }


#battery {
    color: @green;
    background-color: @overlay0;
}
#clock {
    color: @text;
    background-color:@surface0;
}
#cpu {
    color: @rosewater;
    background-color:@surface1;
}
#backlight {
    color: @lavender;
    background-color:@surface1;
 }
#memory {
    color: @peach;
    background-color:@surface2;
}
#wireplumber {
    color: @yellow;
  background-color:@surface2;
}
#power-profiles-daemon {
    color: @lavender;
    background-color: @overlay1;
}
#workspaces {
    background-color:@surface1;
}
#tray{
    background-color:@surface1;
}
#custom-caffeine { background-color: @base09; }

#bluetooth {
    color: @sapphire;
    background-color: @overlay1;
}
#network {
    color: @teal;
    background-color: @overlay0;
}

#custom-r_div.1 {
    background-color:@surface1;
    color: @surface0;
}
#custom-r_div.2 {
    background-color:@surface2;
    color: @surface1;
}
#custom-r_div.3 {
    background-color:@overlay0;
    color: @surface2;
}
#custom-r_div.4 {
    background-color:@overlay1;
    color: @overlay0;
}
#custom-r_div.5 {
    background-color: alpha(@base,0);
    color: @overlay1;
}

#custom-l_div.1 {
    background-color:@surface1;
    color: @surface0;
}
#custom-l_div.2 {
    background-color:@surface2;
    color: @surface1;
}
#custom-l_div.3 {
    background-color:@overlay0;
    color: @surface2;
}

#custom-l_div.4 {
    background-color:@overlay1;
    color: @overlay0;
}
#custom-l_div.5 {
    background-color: alpha(@base,0);
    color: @overlay1;
}


