@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
    font-family: "Maple Mono NF CN", monospace;
    font-weight: 500;
    font-size: 14px;
    text-shadow: none;
    transition: background 0.2s ease, color 0.2s ease;
}

window#waybar {
    background-color: alpha(@base,0.6);
    border-bottom: none;
    font-family: inherit;
}

.modules-left,
.modules-center,
.modules-right {
    background: transparent;
    padding: 0;
    margin: 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
    color: @text;
    /* font-family: "Sarasa Gothic SC"; */
    font-size: 10px;
    border-radius: 8px;
    padding: 6px 8px;
    background-color: alpha(@base,0.9);;
}

#custom-lock,
#custom-poweroff,
#custom-reboot,
#custom-search,
#custom-hibernate,
#custom-caffeine,
#tray,
#backlight,
#battery,
#cpu,
#memory,
#network,
#wireplumber,
#wlr-taskbar,
#bluetooth,
#power-profiles-daemon,
#clock {
    border-radius: 4px;
    background-color: @base;
    padding: 0px 2px;
    margin: 5px 2px;
}
#workspaces button{
border-radius: 4px;
    color: @sapphire;
    padding: 0px 2px;
    margin: 5px 2px;
}

#battery { color: @green; }
#clock { color: @text; }
#cpu { color: @rosewater; }
#backlight { color: @lavender; }
#memory { color: @peach; }
#wireplumber { color: @yellow; }
#network { color: @teal; }
#bluetooth {color: @blue;}
#custom-caffeine { background-color: @base09; }

#workspaces button {
    background: transparent;
    transition: background 0.2s ease, color 0.2s ease;
}

#workspaces button:hover {
    background-color: alpha(@text, 0.2);
}

#workspaces button.focused {
    background-color: alpha(@text, 0.4);
    color: @base0D;
}
